# LLM Management
langchain
langchain-groq
langchain-community
python-dotenv
langgraph

# Testing Tools 
pytest
pytest-cov       # Coverage
mutmut           # Mutation testing

# Utilities
pandas
tqdm             # Progress bar for long tests